<!-- The `crossorigin` attribute is required for fonts—even
     self-hosted ones, as fonts are considered CORS resources. -->
<link rel="preload" as="font" type="font/woff2" href="/fonts/dm-serif-display/DMSerifDisplay-Regular.woff2" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="/fonts/inter-variable/Inter-Variable-Latin.woff2" crossorigin />

<!-- Embed our logo image as a high-priority -->
<h1 class="logo">
  <a href="/"><img src="/images/logo.svg" width="482" height="119" fetchpriority="high" alt="Relic Seeker" elementtiming="logo" /></a>
</h1>
