<!-- to be placed within #cookie-wrapper -->
<dialog-cookies>
  <dialog>
    <p>This site uses cookies to slow your experience.</p>
    <form method="dialog"><button type="submit">Close</button></form>
  </dialog>
</dialog-cookies>
